<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICOE</title>

    <link rel="icon" type="image/png" href="~/Content/img/favicon.jpg" />

    @Styles.Render("~/Content/css")

    <link rel="stylesheet" type="text/css" href="~/Content/kendo/kendo.common.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/kendo/kendo.dataviz.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/kendo/kendo.default.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/kendo/kendo.dataviz.default.min.css">

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/others")




</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ICOE", "IndexCal", "Calendar", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PT. KALIMANTAN PRIMA PERSADA</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
